@font-face { font-family: "Geist Mono Variable"; src: url('../static/GeistMono-UltraLight.woff2'); }
@font-face { font-family: "Geist Mono Variable"; font-weight: bold; src: url('../static/GeistMono-SemiBold.woff2'); }

* {
    font-family: "Geist Mono Variable";
}
.chatbot-container {
      flex: 1;
      background-color: #0F68B6;
      color: white;
      padding: 2rem;
      display: flex;
      flex-direction: column;
}
.chat-messages {
      flex: 1;
      overflow-y: auto;
      border: 1px solid #ccc;
      padding: 1rem;
      margin-bottom: 1rem;
      color: white;
    }
.chat-input {
      display: flex;
      align-items: center;
    }

.chat-input input {
      flex: 1;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 0.5rem;
      }
.chat-input button {
      background-color: #2f7d86;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      }
      .chat-input button:hover {
      background-color: #3c9aa5;
    }
.main-container {
    display: flex;
    overflow-x: auto;
}

.content-container {
    flex: 1;
    min-width: 300px;
}

.chatbot-sidebar {
    width: auto;
    flex-shrink: 0;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#contact-embed {
    height: 400px;
    width: 800px;
}
#calendly-embed {
    min-width: 320px;
    height: 630px;
}
#calendly, #contact {
    display: none;
    position: fixed;
    top: 10%;
    left: 10%;
    transform: translate(0%, -10%);
    background-color: #0F68B6;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    color: white;
    font-size: 26px;
}

#calendly h2 {
    margin-top: 0;
}
#contact-embed{
    display: flex;
    flex-direction: row;
}

#calendly-content {
    height: calc(100% - 60px);
    overflow-y: auto;
}
.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact img {
    width: 400px;
    height: 400px;
    margin-right: 25px;
}