<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/mobile_style.css">
    <meta charset="UTF-8">
    <title>Contact</title>
    <style>
.nav_ {
  background-color: #2f7d86;
  color: white;
  border: none;
  margin: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 42%;
  font-size: 24px;
}
body {
    text-align: center;
}
button {
    height:100px;
}
    </style>
</head>
<body>
    <h1>Contact</h1>
    <button class="nav_" onclick="window.location.href ='./projects';">Projects</button>
    <button class="nav_" onclick="window.location.href ='./Resume';">Resume</button>
    <a href="../static/Mark_Bochner.vcf"><button class="nav" style="width:calc(84% + 24px);">Contact Card</button></a>
    <a href="tel:9084031660"><button class="nav" style="width:calc(84% + 24px);">908-403-1660</button></a>
    <a href="mailto:markbochner1@gmail.com"><button  class="nav" style="width:calc(84% + 24px);font-size:14px">MarkBochner1@gmail.com</button></a>


</body>
</html>